<h1>マイページ</h1>
<p>名前: <%= current_user.name %></p>
<p>メールアドレス: <%= current_user.email %></p>
<p>権限: <%= current_user.role.name %></p>

<% if current_user.role.try(:name) == "一般ユーザー" %>
  <div class="reservation-container">
    <h3>予約した募集</h3>
    <label for="reservation-toggle" class="toggle-label">表示する</label>
    <input id="reservation-toggle" type="checkbox">
    <table class="request-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>お金</th>
          <th>詳細</th>
          <th>スキー場</th>
          <th>予約日</th>
          <th>承認</th>
          <th>削除</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.requests.each do |request| %>
          <tr>
            <td><%= request.recruit.name %></td>
            <td><%= request.recruit.money %></td>
            <td><%= request.recruit.detail %></td>
            <td><%= request.recruit.skiresort.name %></td>
            <td><%= request.date %></td>
            <td><%= request.status %></td>
            <td><%= link_to '削除', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if current_user.requests.empty? %>
      <p>現在、予約した募集はありません。</p>
    <% end %>
  </div>

<script>
  let reservationToggleBtn = document.getElementById('reservation-toggle');
  reservationToggleBtn.addEventListener('change', function() {
    const reservationContainer = document.querySelector('.reservation-container');
    if (reservationToggleBtn.checked) {
      reservationContainer.classList.add('visible');
    } else {
      reservationContainer.classList.remove('visible');
    }
  });
</script>

<% else %>
  <%= link_to '予約一覧画面', requests_path %>
<% end %>

<% if current_user.role.try(:name) == "一般ユーザー" %>
  <h3>お気に入りしている講師</h3>
  <button id="toggle-favorites">お気に入りを表示する</button>
  <div id="favorite-teachers-container" style="display: none;">
    <% current_user.favorites.each do |favorite| %>
      <p><%= favorite.followed.name %></p>
    <% end %>
  </div>
  <script>
    let toggleFavoritesBtn = document.querySelector('#toggle-favorites');
    toggleFavoritesBtn.addEventListener('click', () => {
      const favoriteTeachersContainer = document.querySelector('#favorite-teachers-container');
      if (favoriteTeachersContainer.style.display === 'none') {
        favoriteTeachersContainer.style.display = 'block';
        toggleFavoritesBtn.textContent = 'お気に入りを非表示にする';
      } else {
        favoriteTeachersContainer.style.display = 'none';
        toggleFavoritesBtn.textContent = 'お気に入りを表示する';
      }
    });
  </script>
<% else %>
  <p> </p>
<% end %>