<h1>予約一覧画面</h1>

<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>ステータス</th>
      <th>インストラクター</th>
      <th>金額</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <% if current_user == request.recruit.user %>
        <tr>
          <td><%= request.date %></td>
          <td><%= request.status %></td>
          <td><%= request.recruit.name %></td>
          <td><%= request.recruit.money %></td>
          <td><button type="button" class="btn btn-outline-secondary"><%= link_to '詳細', request %></button></td>
          <td><button type="button" class="btn btn-outline-secondary"><%= link_to '編集', edit_request_path(request) %></button></td>
          <td><button type="button" class="btn btn-outline-secondary"><%= link_to '削除', request, method: :delete, data: { confirm: "本当に削除しますか?" } %></button></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to '投稿一覧画面', recruits_path %>
