<h1>予約フォーム</h1>
<%= form_with(model: @request, url: requests_path, local: true) do |form| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% @request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form.hidden_field :recruit_id, value: @recruit.id %>

  <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
    <strong>名前:</strong>
    <%= @recruit.name %>
  </p>

  <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
    <strong>お金:</strong>
    <%= @recruit.money %>
  </p>

  <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
    <strong>詳細:</strong>
    <%= @recruit.detail %>
  </p>

  <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5;">
    <strong>教える内容:</strong>
    <% @recruit.labels.each do |label| %>
      <%= label.name %>
    <% end %>
  </p>
  <div class="field">
    <%= form.label :"予約日" %>
    <%= form.date_field :date %>
  </div>


  <div class="actions">
    <%= form.submit :"予約を確定する"%>
  </div>
<% end %>