        <td><%= request.date %></td>
        <td><%= request.status %></td>
        <td><%= request.recruit.name %></td>
        <td><%= request.recruit.money %></td><p>

<%= link_to '戻る', requests_path %>