
<h1>投稿一覧</h1>

<%= form_tag(recruits_path, method: :get, class: "search-form") do %>
  <div class="form-group">
    <%= label_tag(:search, "インストラクター検索", class: "form-label") %>
    <%= text_field_tag(:search, nil, placeholder: "名前を入力してください", class: "form-control") %>
  </div>

  <div class="form-group">
    <%= label_tag(:skiresort_id, "スキー場", class: "form-label") %>
    <%= select_tag(:skiresort_id, options_from_collection_for_select(Skiresort.all, :id, :name), prompt: "選択してください", class: "form-control") %>
  </div>

  <div class="form-group">
    <h2>教える内容</h2>
    <div class="checkbox-group">
      <% Label.all.each do |label| %>
        <div class="form-check">
          <%= check_box_tag "label_ids[]", label.id, params[:label_ids]&.include?(label.id.to_s), id: "label_#{label.id}", class: "form-check-input" %>
          <%= label_tag "label_#{label.id}", label.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= submit_tag("検索", class: "btn btn-primary") %>
  </div>
<% end %>




<table class="table">
  <thead>
    <tr>
      <th scope="col">名前</th>
      <th scope="col">お金</th>
      <th scope="col">詳細</th>
      <th scope="col">開始日</th>
      <th scope="col">終了日</th>
      <th scope="col">スキー場</th>
      <th scope="col">教える内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruits.each do |recruit| %>
      <tr>
        <td><%= recruit.name %></th>
        <td><%= recruit.money %></td>
        <td><%= recruit.detail %></td>
        <td><%= recruit.start_day.strftime('%Y/%m/%d') if recruit.start_day %></td>
        <td><%= recruit.end_day.strftime('%Y/%m/%d') if recruit.end_day %></td>
        <td><%= recruit.skiresort.name %></td>
        <td>
            <% recruit.labels.each do |label| %>
              <%= label.name %>
            <% end %>
        </td>
        <td><button type="button" class="btn btn-outline-secondary"><%= link_to '詳細', recruit %></button></td>
          <% if current_user == recruit.user %>
            <td><button type="button" class="btn btn-outline-secondary"><%= link_to '編集', edit_recruit_path(recruit) %></button></td>
            <td><button type="button" class="btn btn-outline-secondary"><%= link_to '削除', recruit, method: :delete, data: { confirm: '本当に削除していいですか？' } %></button></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>